language: csharp
solution: DuckSharp.sln
mono: none
dotnet: 2.1.302
dist: trusty
sudo: required
script:
  - dotnet build -c Release
  - dotnet tool install -g coveralls.net --version 1.0.0
  - export PATH="$PATH:/home/travis/.dotnet/tools"
  - dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat=opencover -c release
  - csmacnz.Coveralls --opencover -i DuckSharp.Tests/coverage.opencover.xml --useRelativePaths
