language: csharp
solution: DuckSharp.sln
mono: none
dotnet: 2.1.302
dist: trusty
sudo: required
script:
  - dotnet build -c Release
  - dotnet test DuckSharp.Tests/DuckSharp.Tests.csproj -c release
  - dotnet tool install -g coveralls.net --version 1.0.0
  - csmacnz.Coveralls --opencover -i DuckSharp.Tests/coverage.json --useRelativePaths
